* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    color: #4c6986;
}

.title {
    max-width: 500px;
}

.wrapper {
    max-width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #4c6986;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover {
    background: #4c6986;
    color: white;
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: #9A9A9A;
    font-size: 24px;
}

.header .player-X {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}


.player-X.active {
    color: #42BED7;
    border-color: #42BED7;
}

.header .player-O {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-O.active {
    color: #D7BAFB;
    border-color: #D7BAFB;
}

.board {
    display: grid;
    grid-gap: 0px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .board-tile {
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
  }

.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137, 163, 189, 0.58);
  }
  
  .board-tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.58);
  }

.board-tile:hover {
    background: #eee;

}

.tile-x {
    color: #42BED7;
}

.tile-o {
    color: #D7BAFB;
}

.tile-winner span{
    color: #23CE6B;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
    }

    .left {
        margin-bottom: 50px;
    }
}